<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">display student details</h4>
                    <p class="card-description"> Add class <code>.table-bordered</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th> name </th>
                            <th> age </th>
                            <th> image </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{ d.name }}</td>
                            <td>{{ d.age }}</td>
                            <td>
                                <img src="{{ d.image.url }}">
                            </td>
                        </tr>
                         {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
</body>
</html>
{% endblock %}